<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online Exam Portal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertUser</display-name>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>InsertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/InsertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAdmin</display-name>
    <servlet-name>InsertAdmin</servlet-name>
    <servlet-class>InsertAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAdmin</servlet-name>
    <url-pattern>/InsertAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginuser</display-name>
    <servlet-name>loginuser</servlet-name>
    <servlet-class>loginuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginuser</servlet-name>
    <url-pattern>/loginuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginadmin</display-name>
    <servlet-name>loginadmin</servlet-name>
    <servlet-class>loginadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginadmin</servlet-name>
    <url-pattern>/loginadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcomeuser</display-name>
    <servlet-name>welcomeuser</servlet-name>
    <servlet-class>welcomeuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcomeuser</servlet-name>
    <url-pattern>/welcomeuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contact_serv</display-name>
    <servlet-name>contact_serv</servlet-name>
    <servlet-class>contact_serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact_serv</servlet-name>
    <url-pattern>/contact_serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contact_serv_2</display-name>
    <servlet-name>contact_serv_2</servlet-name>
    <servlet-class>contact_serv_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact_serv_2</servlet-name>
    <url-pattern>/contact_serv_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertsubject</display-name>
    <servlet-name>insertsubject</servlet-name>
    <servlet-class>insertsubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertsubject</servlet-name>
    <url-pattern>/insertsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatesubject</display-name>
    <servlet-name>updatesubject</servlet-name>
    <servlet-class>updatesubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatesubject</servlet-name>
    <url-pattern>/updatesubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletesubject</display-name>
    <servlet-name>deletesubject</servlet-name>
    <servlet-class>deletesubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletesubject</servlet-name>
    <url-pattern>/deletesubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findsubject</display-name>
    <servlet-name>findsubject</servlet-name>
    <servlet-class>findsubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findsubject</servlet-name>
    <url-pattern>/findsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewsubject</display-name>
    <servlet-name>viewsubject</servlet-name>
    <servlet-class>viewsubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewsubject</servlet-name>
    <url-pattern>/viewsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exam</display-name>
    <servlet-name>exam</servlet-name>
    <servlet-class>exam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exam</servlet-name>
    <url-pattern>/exam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findexam</display-name>
    <servlet-name>findexam</servlet-name>
    <servlet-class>findexam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findexam</servlet-name>
    <url-pattern>/findexam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>score</display-name>
    <servlet-name>score</servlet-name>
    <servlet-class>score</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>score</servlet-name>
    <url-pattern>/score</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scores</display-name>
    <servlet-name>scores</servlet-name>
    <servlet-class>scores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scores</servlet-name>
    <url-pattern>/scores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>save</display-name>
    <servlet-name>save</servlet-name>
    <servlet-class>save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>save</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit</display-name>
    <servlet-name>edit</servlet-name>
    <servlet-class>edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>score1</display-name>
    <servlet-name>score1</servlet-name>
    <servlet-class>score1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>score1</servlet-name>
    <url-pattern>/score1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TryPDF</display-name>
    <servlet-name>TryPDF</servlet-name>
    <servlet-class>TryPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TryPDF</servlet-name>
    <url-pattern>/TryPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BotDetect Captcha</servlet-name>
    <servlet-class>com.captcha.botdetect.web.servlet.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BotDetect Captcha</servlet-name>
    <url-pattern>/botdetectcaptcha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>